/* General Page Styling */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

/* Container Layout */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: #fff;
  position: relative;
}

/* Image Section */
.image-section {
  flex: 1;
  text-align: center;
}

.home-image {
  width: 500px;
  height: 431px;
  border-radius: 0;
  margin-left: 8px;
}

/* Text Section */
.text-section {
  flex: 1;
  padding: 20px;
}

.text-section h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #333;
  margin-bottom: 20px;
}

.highlight {
  font-weight: bold;
  color: #333;
}

.description {
  font-size: 18px;
  color: #8d8d8d;
  margin-bottom: 30px;
  height: 50px;
}

/* Stats Container */
.stats-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px; /* Adds space to prevent overlap with text */
  gap: 30px; /* Space between boxes */
}

/* Individual Stat Box */
.stat {
  background: #f5f5f5;
  padding: 40px;
  text-align: center;
  width: 220px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 0px; /* Sharp corners */
  position: relative;
  z-index: 10; /* Ensures boxes stay on top */
}

/* Star Color */
.star {
  color: red; /* Sets star color to red */
  font-size: 1.5rem;
}
